.container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 15px 40px;
  height: 40px;
  background-color: #e1e2ff;
  transition: 0.3s;
}

.stickyHeader {
  position: sticky;
  top: 0;
  height: 20px;
}

.btnsContainer {
  display: flex;
  column-gap: 20px;
  button {
    height: 30px;
    width: 100px;
  }
}
