footer{
   position: relative;
   height: 70px;
  .container-footer{
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 15px 40px;
     
     background-color: #E1E2FF;

   .rss{
      &-img{
         width: 70px;
         height: 40px;
      }
   }

   .github{
      width: 50%;
      display: flex;
      justify-content:space-evenly;
      font-size: 30px;
      &-account{
         font-weight: 600;
         color:#33286D;
         text-decoration: none;
      }
   }

   .year{
      font-size: 30px;
      line-height: 40px;
   }
} 
}

